<table>
    <tr>
        <td><strong>Name: </strong></td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td><strong>Email: </strong></td>
        <td><a href='mailto: {{email}}'>{{email}}</a></td>
    </tr>
    <tr>
        <td><strong>Nachricht: </strong></td>
        <td>{{message}}</td>
    </tr>
</table>